
<ion-view hide-nav-bar="true">
  <ion-content scrolling="false" class="center intro" scrollbar-y="false">
  <img src="images/bg.jpg" class="background"/>
   <div class="buttons align-left" ng-click="previous()" ng-if="slideIndex >= 0">
    <i class="icon ion-android-arrow-back"></i>
  </div>
  <div class="buttons align-right"  ng-click="skip()">
    Skip
  </div>
   <ion-slide-box on-slide-changed="slideChanged(index)">
        
        <ion-slide class="slideStyle padding">
            <div class="introContent">
              <h2 class="introTitle ">Welcome!</h2>
              <p class="">
                Thank you for downloading the app. Let me introduce to you the things you can do it in this app.
              </p>
          	 <button class="button button-light"  ng-click="next()"> Lets get started!</button>
            </div>
        </ion-slide>
 
       <ion-slide class="slideStyle padding">
            <div class="introContent">
              <h2 class="introTitle ">Prayer Guide</h2>
              <p class="">
                Let the App guide in praying the Rosary, Novena and the Station of the cross..
              </p>
            </div>
        </ion-slide>

        <ion-slide class="slideStyle padding">
            <div class="introContent">
              <h2 class="introTitle ">Daily Gospel</h2>
              <p class="">
                Keep you aware about the word of our lord and his teachings everyday.
              </p>
            </div>
        </ion-slide>

        <ion-slide class="slideStyle padding">
            <div class="introContent">
              <h2 class="introTitle ">Notifications</h2>
              <p class="">
                We will notify you about the upcoming events and mass timings around our community.
              </p>
              <button class="button button-light"  ng-click="startApp()"> Finished!</button>
            </div>
            
        </ion-slide>

        
    </ion-slide-box>  
  </ion-content>
</ion-view>
