<link rel="stylesheet" type="text/css" href="styles/normalize.css" />
<link rel="stylesheet" type="text/css" href="styles/component.css" />
<ion-view view-title="Gospel of the Day">
  <ion-content class="gospel" >

    <div id="container" class="container intro-effect-fadeout modify">
      <!-- Top Navigation -->
      <header class="header">
        <div class="bg-img"><img src="images/1.jpg" alt="Background Image" /></div>
        <div class="title">
          <h2>John 12:1-11</h2>
          <p class="subline">Gospel of the day</p>
          </div>
      </header>
      <article class="content">
          <div >
            <p class="">Six days before the Passover, Jesus went to Bethany, where Lazarus was, whom he had raised from the dead. They gave a dinner for him there; Martha waited on them and Lazarus was among those at table Mary brought in a pound of very costly ointment, pure nard, and with it anointed the feet of Jesus, wiping them with her hair; the house was filled with the scent of the ointment.</p>
            <p class="">Then Judas Iscariot -- one of his disciples, the man who was to betray him-said, 'Why was this ointment not sold for three hundred denarii and the money given to the poor?' He said this, not because he cared about the poor, but because he was a thief; he was in charge of the common fund and used to help himself to the contents. So Jesus said, 'Leave her alone; let her keep it for the day of my burial. </p>
            <p class="">
            You have the poor with you always, you will not always have me.' Meanwhile a large number of Jews heard that he was there and came not only on account of Jesus but also to see Lazarus whom he had raised from the dead. Then the chief priests decided to kill Lazarus as well, since it was on his account that many of the Jews were leaving them and believing in Jesus.</p>
          </div> 
      </article>

    </div><!-- /container -->
  </ion-content>
</ion-view>
