/* SOC */
	.header .title h1 {
	 	margin-bottom: 7px;
	    font-size: 2.25em;
}
/* SOC*/


/* Empty. Add your own CSS if you like */
.menu{
	background: #000;
}
.ionProfilePic{
	background-color: #4c5564;
}
.menu:after{
	background: url("../images/bg.jpg") no-repeat scroll 0 0 #000;
    content: " ";
    height: 100%;
    left: 0;
    opacity: 0.5;
    position: absolute;
    width: 100%;
}

.menuLeft .item{
	border:none;
}
#profile{
  background-color: #4c5564;
  padding: 10px 8px;
  display:flex;
}
#profile img{
  height: 75px;
}
.profile_details>span{
  font-weight: bold;
}

.ionProfilePic h2,.ionProfilePic p{
color:#f4f4f4;
 margin: 0px 0 0px 89px;
}
.ionProfilePic h2{
margin-top:15px;
}

.leftMenu .item {background:none;color:#f4f4f4;box-shadow: 0 -1px #573e0a inset;border:none; }
.leftMenu .item:first-child{
	box-shadow: 0 -1px #573e0a inset, 0 1px #573e0a inset;
}
.item-icon-left .icon{
	font-size: 24px;
}
.menu-left-header h4,.menu-left-header h5{
color:#fff;
}


.gospelContent{
		transform:translate(0px,10px);
		color: #875f0b;font-size: 14px
}


.title h2, header .title p.subline{
	color: #875f0b;
	font-weight: normal;

}
article.content{
	color: #875f0b;
}
.intro-effect-fadeout .bg-img::after {
    background: linear-gradient(to bottom, #eae6d6 0%, #eae6d6 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    content: "";
    height: 101%;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
}
.textContainer {
    top: 70%;
    position: absolute;
    left:20px;
	z-index: 2;    
}
.textContainer *{
	color: #fff;	
	margin: 0px;

}

.menu-content .pane{
	background-color: #eae6d6
}


.center{
text-align: center;
}
.uppercase{
	text-transform: uppercase;
}
.capitalize{
	 text-transform: capitalize;
}
.button.button-light:hover {
    background-color: #fff;
    border-color: #ddd;
    color: #444;
}
.button.button-light {
    background-color: transparent;
    border-color: #fff;
    color: #fff;
}
/* Intro css*/
	.intro h2,.intro p{
		color:#fff;font-weight: normal;
	}
	.intro .buttons{
		position: absolute;
		color: #875f0b;
		padding:20px;
		left: 0px
		top:0px;
		font-size: 20px;
		z-index: 2;
		cursor: pointer;
	}
	.align-right{
		right: 0px;
	}
	.intro img.background {
	    height: auto;
	    left: 0;
	    position: absolute;
	    top: 0;
	    width: 100%;
	}
	.slider-slide{
		text-align: left;
	}
	.slider-slide  #logo {
	    margin: 40px 0px;
	    
	}

	.slideStyle button{margin:10px 0px 30px 0px;}
	.introContent{
		transform:translate(0px,55%);
		-webkit-transform:translate(0px,55%);
		height: 500px;
	}
	
	.introContent p{
		font-size: 18px;
	}
/* Intro css*/
/* Gospel and rosary page */
	.card.card-gospel.center {
	    position: relative;
	    overflow: visible;
	    padding: 20px 0;
	    margin: 60px 0;
	}

	.gospel-image,.rosary-image {
	    left: 43%;
	    position: absolute;
	    top: -25px;
	}



	.card-gospel .title{
	    border-bottom: 1px solid #cccccc;
	    margin-top: 43px;
	    padding-bottom: 18px;
	}

	.card-gospel h4{
	margin: 36px 0 10px;
	}
	.item-dark h2{
		color:rgb(204,204,204);
	}


	.card.card-rosary.center {
	    position: relative;
	    overflow: visible;
	    padding: 20px 0px 0px;
	    margin: 60px 0;
	}

	.card-rosary .title{
	    border-bottom: 1px solid #cccccc;
	    margin-top: 43px;
	    padding-bottom: 18px;
	    text-transform: capitalize;	
	}

	.card-rosary h4{
		margin: 36px 0 0px;
	}


	.card-rosary img{
	width: 100%;
	height: auto;
	}
/* Gospel and rosary page */
/* Timings */
	.timing-background{
		position: relative;
	}
	.timing-background img{
		width:100%;
		height: auto;
	}

	.timing-cover {
	    background-color: #eae6d6;
	    height: 200px;
	    position: absolute;
	    transform: translateY(-82px) rotate(4deg) scaleX(1.1) scaleY(0.4);
	    -webkit-transform: translateY(-82px) rotate(4deg) scaleX(1.1) scaleY(0.4);
	    width: 100%;
	}
	.card-content h3{
		position: relative;
    	z-index: 3;
	}
	.gallery {
	    -webkit-flex-wrap: wrap;
	    flex-wrap: wrap;
	}	

	.gallery .col.col-25 {
	    margin: 12px;
	}
/* Timings */
/* rosary details */
	/**
	 * Position icons into circle (SO)
	 * http://stackoverflow.com/q/12813573/1397351 
	 */
	.rosary-container{
		position: relative;overflow: hidden;
		width: 100%;
		height: 100px;
	}
	.rosary-blocker{
		width: 300px;
		height: 300px;
		position: absolute;
		left: -168px;
		top:-93px;
		background-color: #fff;
	}
	.rosary-container .number {
	    left: 41%;
	    position: absolute;
	    top: 8px;
	}
	.rosary{
	 	left: -109px;
	    position: absolute;
	    top: -135px;
	}
	.rosary::before{
		background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 1) 62%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	    content: "";
	    height: 60%;
	    left: 75px;
	    opacity: 1;
	    position: absolute;
	    top: 93px;
	    width: 100%;
	    z-index: 2;
	}
	.rosary::after{
	background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 62%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	    content: "";
	    height: 60%;
	    left: 75px;
	    opacity: 1;
	    position: absolute;
	    top: 50px;
	    width: 100%;
	    z-index: 2;
	}
	.circle-container {
		position: relative;
		width: 24em;
		height: 24em;
		border: dotted 3px black;
		padding: 2.8em; /*= 2em * 1.4 (2em = half the width of an img, 1.4 = sqrt(2))*/
		border-radius: 50%;
		margin: 1.75em auto 0;
		transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
	    transition: all 0.5s ease 0s;
	    -webkit-transition: all 0.5s ease 0s;
	}
	.circle-container a {
		display: block;
		overflow: hidden;
		position: absolute;
		top: 50%; left: 50%;
		width: 2em; height: 2em;
		margin: -1em; /* 2em = 4em/2 */ /* half the width */
	}
	.circle-container img { display: block; width: 100%;border-radius: 36px;}

	.deg0 { transform: translate(12em); } /* 12em = half the width of the wrapper */
	.deg36 { transform: rotate(36deg) translate(12em) rotate(-36deg); }
	.deg72 { transform: rotate(72deg) translate(12em) rotate(-72deg); }
	.deg108 { transform: rotate(108deg) translate(12em) rotate(-108deg); }
	.deg144 { transform: rotate(144deg) translate(12em) rotate(-144deg);}
	.deg180 {transform: rotate(180deg)  translate(-12em) }
	.deg216 { transform: rotate(216deg) translate(12em) rotate(-216deg); }
	.deg252 { transform: rotate(252deg) translate(12em) rotate(-252deg); }
	.deg288 { transform: rotate(288deg) translate(12em) rotate(-288deg); }
	.deg324 { transform: rotate(324deg) translate(12em) rotate(-324deg); }
	.deg360 { transform: rotate(360deg) translate(12em) rotate(-360deg); }
	/* this is just for showing the angle on hover */
	.circle-container a:not(.center):before {
		position: absolute;
		width: 4em;
		color: white;
		opacity: 0;
		background: rgba(0,0,0,.5);
		font: 1.25em/3.45 Courier, monospace;
		letter-spacing: 2px;
		text-decoration: none;
		text-indent: -2em;
		text-shadow: 0 0 .1em deeppink;
		transition: .7s; /* only works in Firefox */
		-webkit-transition: .7s; /* only works in Firefox */
		/*content: attr(class)'°';*/
	}
	

	/* this is for showing the circle on which the images are placed */
	.circle-container:after {
		position: absolute;
		top: 2.8em; left: 2.8em;
		width: 24em; height: 24em;
		
		border-radius: 50%;
		opacity: .3;
		pointer-events: none;
		content: '';
	}
	
	.circle-container a:not(.center):after {
		position: absolute;
		top: 50%; left: 50%;
		width: 4px; height: 4px;
		border-radius: 50%;
		box-shadow: 0 0 .5em .5em white;
		margin: -2px;
		
		opacity: .3;
		content: '';
	}
	.title.title-rosary{
		margin-top: 20px;
	}

/* rosary details */

/* Novena */
	.content-timings .card-content .card h4{
		margin-bottom: 20px;
	 	border-color: #0a9ec7;
	    border-style: solid;
	    border-width: 1px;
	    display: block;
	    font-size: 16px;
	    padding: 16px;
	    position: relative;
	    z-index: 2;
	    background-color: #11c1f3;
    	color: #fff;
	}
	.content-timings .card-content h3{
		color: #000!important;
	}
/* Novena */


.preloader {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 15rem;
    z-index: 9
}
.preloaderz,
.preloaderz1 {
    background-color: transparent;
    border: 7.5px solid rgba(255, 255, 255, 0.9);
    border-right-color: transparent;
    border-left-color: transparent;
    border-radius: 75px;
    opacity: .9;
    margin: 0 auto
}
.preloaderz {
    box-shadow: 0 0 52.5px red;
    width: 75px;
    height: 75px;
    -moz-animation: spinPulse 1s infinite ease-in-out;
    -webkit-animation: spinPulse 1s infinite linear
}
.preloaderz1 {
    box-shadow: 0 0 15px red;
    width: 45px;
    height: 45px;
    margin-top: 15px;
    background: url('data:image/svg+xml,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0" y="0" width="100" height="100" viewBox="0, 0, 100, 100"><path d="M85.987,64.679 L86.14,65.745 C85.835,66.049 82.182,70.006 81.878,70.463 C81.574,70.767 79.9,71.832 77.921,71.832 L66.198,71.832 C67.316,70.743 68.017,69.432 68.66,68.058 L69.094,68.027 C69.703,68.027 80.356,68.027 80.965,68.027 C82.639,68.027 83.704,67.266 84.161,66.809 C84.617,66.353 85.835,64.984 85.987,64.679 z" fill="#686868"/><path d="M87.182,59.532 L87.426,60.58 C87.149,60.91 83.855,65.17 83.592,65.652 C83.315,65.981 81.741,67.189 79.77,67.361 C76.022,67.689 72.273,68.016 68.525,68.345 C69.652,65.934 69.216,67.235 69.76,64.417 C73.997,64.046 78.234,63.676 82.47,63.305 C84.138,63.159 85.133,62.308 85.548,61.813 C85.963,61.319 87.056,59.849 87.182,59.532 z" fill="#929292"/><path d="M88.378,54.009 L88.713,55.032 C88.466,55.385 85.556,59.916 85.335,60.418 C85.089,60.771 83.625,62.111 81.677,62.454 C77.695,63.156 73.714,63.858 69.732,64.56 C70.01,63.122 69.901,63.972 69.922,61.997 L69.922,60.663 C74.619,59.835 79.316,59.007 84.013,58.179 C85.662,57.888 86.579,56.953 86.95,56.424 C87.32,55.896 88.281,54.335 88.378,54.009 z" fill="#686868"/><path d="M88.933,48.219 L89.357,49.208 C89.141,49.581 86.637,54.349 86.461,54.869 C86.246,55.241 84.905,56.704 82.994,57.216 C78.636,58.383 74.279,59.551 69.921,60.719 L69.921,56.779 C74.931,55.437 79.94,54.095 84.949,52.753 C86.566,52.319 87.398,51.309 87.721,50.749 C88.044,50.19 88.865,48.552 88.934,48.219 z" fill="#929292"/><path d="M89.492,42.062 L90,43.012 C89.818,43.402 87.739,48.369 87.609,48.903 C87.427,49.293 86.218,50.866 84.359,51.543 C79.547,53.295 74.734,55.046 69.922,56.798 L69.922,52.749 C75.254,50.808 80.586,48.868 85.918,46.926 C87.491,46.354 88.232,45.274 88.505,44.689 C88.778,44.104 89.453,42.401 89.492,42.062 z" fill="#686868"/><path d="M89.379,35.757 L89.968,36.658 C89.82,37.063 88.182,42.193 88.099,42.736 C87.952,43.14 86.885,44.813 85.092,45.649 C80.035,48.007 74.978,50.365 69.921,52.723 L69.921,48.525 C75.362,45.988 80.802,43.451 86.243,40.914 C87.76,40.207 88.404,39.067 88.625,38.46 C88.845,37.853 89.37,36.098 89.379,35.757 z" fill="#929292"/><path d="M88.692,29.343 L89.357,30.189 C89.245,30.605 88.06,35.858 88.025,36.406 C87.913,36.822 86.996,38.581 85.283,39.571 C80.162,42.527 75.042,45.483 69.922,48.44 L69.922,44.046 C75.287,40.948 80.651,37.851 86.017,34.753 C87.466,33.916 88.008,32.725 88.176,32.101 C88.343,31.477 88.712,29.683 88.692,29.343 z" fill="#686868"/><path d="M87.334,22.988 L88.07,23.773 C87.995,24.198 87.272,29.534 87.285,30.083 C87.21,30.506 86.45,32.339 84.829,33.474 C79.86,36.954 74.891,40.433 69.922,43.913 L69.922,39.267 C74.994,35.715 80.068,32.164 85.14,28.611 C86.512,27.651 86.948,26.417 87.06,25.78 C87.172,25.145 87.383,23.325 87.334,22.988 z" fill="#929292"/><path d="M85.338,16.713 L86.14,17.431 C86.102,17.86 85.847,23.239 85.908,23.785 C85.87,24.214 85.273,26.106 83.757,27.378 C79.145,31.247 74.533,35.117 69.922,38.987 L69.922,34.708 C68.82,34.966 69.204,34.918 68.791,34.968 C73.742,30.814 78.692,26.66 83.643,22.506 C84.925,21.43 85.252,20.162 85.309,19.519 C85.365,18.876 85.417,17.044 85.338,16.713 z" fill="#686868"/><path d="M84.794,69.664 L84.853,70.738 C84.523,71.015 80.539,74.638 80.196,75.067 C79.866,75.344 78.106,76.259 76.135,76.087 C75.68,76.047 64.46,75.065 64.006,75.025 C63.211,75.042 63.512,74.979 63.087,75.09 C64.723,73.454 63.977,74.2 65.324,72.853 C65.676,72.442 66.028,72.031 66.38,71.619 C66.383,71.615 66.386,71.611 66.389,71.606 C67.159,71.468 66.732,71.51 67.673,71.527 C68.279,71.58 78.893,72.508 79.499,72.561 C81.167,72.707 82.294,72.042 82.789,71.627 C83.283,71.212 84.615,69.954 84.794,69.664 z" fill="#929292"/><path d="M62.999,75.178 C63.911,74.779 64.895,74.798 65.862,74.9 C66.461,75.006 76.953,76.856 77.552,76.962 C79.201,77.252 80.382,76.688 80.912,76.317 C81.44,75.947 82.877,74.81 83.08,74.536 L83.045,75.612 C82.692,75.859 78.408,79.121 78.029,79.518 C77.676,79.765 75.842,80.524 73.894,80.18 C73.444,80.101 62.353,78.145 61.904,78.066 C61.004,77.908 59.726,78.145 59.197,78.516 C58.864,78.759 59.061,78.612 58.606,78.959 L58.606,78.843 L59.179,78.477 C59.37,78.377 59.278,78.436 59.454,78.297 C60.046,77.909 59.77,78.128 60.28,77.638 C61.266,76.853 60.764,77.267 61.784,76.393 L62.999,75.178 z" fill="#686868"/><path d="M76.077,17.234 L76.938,17.88 C76.938,18.311 77.153,23.691 77.261,24.23 C77.261,24.66 76.831,26.597 75.432,27.996 C73.092,30.335 70.753,32.674 68.414,35.014 C67.269,35.164 65.991,35.426 64.884,34.877 C65.072,33.553 65.645,32.53 66.499,31.547 C66.93,31.117 74.463,23.584 74.893,23.153 C76.077,21.969 76.292,20.678 76.292,20.032 C76.292,19.387 76.185,17.557 76.077,17.234 z" fill="#929292"/><path d="M14.298,65.076 C15.527,66.494 15.003,65.926 15.839,66.81 C16.296,67.266 17.361,68.027 19.035,68.027 L30.906,68.027 L31.308,68.055 C31.854,69.476 32.785,70.68 33.771,71.832 L22.079,71.832 C20.1,71.832 18.426,70.767 18.122,70.463 C17.818,70.006 14.165,66.049 13.86,65.745 L14.013,64.679 L14.298,65.076 z" fill="#929292"/><path d="M12.818,59.532 C12.944,59.849 14.037,61.319 14.452,61.813 C14.867,62.308 15.862,63.159 17.53,63.305 C21.756,63.675 25.982,64.045 30.208,64.414 C30.752,67.234 30.316,65.933 31.442,68.342 C27.705,68.016 23.967,67.687 20.23,67.361 C18.259,67.189 16.685,65.981 16.408,65.652 C16.145,65.17 12.851,60.91 12.573,60.58 L12.818,59.532 z" fill="#686868"/><path d="M11.622,54.009 C11.719,54.336 12.68,55.896 13.05,56.424 C13.421,56.953 14.338,57.888 15.986,58.179 C20.673,59.005 25.36,59.831 30.047,60.658 L30.047,61.997 C30.067,63.97 29.958,63.122 30.235,64.555 C26.265,63.853 22.294,63.156 18.323,62.454 C16.375,62.111 14.911,60.771 14.664,60.418 C14.444,59.916 11.534,55.385 11.287,55.032 L11.622,54.009 z" fill="#929292"/><path d="M11.066,48.219 C11.135,48.552 11.956,50.19 12.279,50.749 C12.602,51.309 13.434,52.32 15.051,52.753 C20.05,54.092 25.048,55.432 30.047,56.771 L30.047,60.71 C25.7,59.544 21.353,58.382 17.006,57.216 C15.095,56.704 13.754,55.241 13.539,54.869 C13.363,54.349 10.859,49.581 10.643,49.208 L11.066,48.219 z" fill="#686868"/><path d="M10.508,42.062 C10.547,42.401 11.222,44.104 11.495,44.689 C11.768,45.274 12.509,46.354 14.082,46.926 C19.403,48.863 24.725,50.8 30.047,52.737 L30.047,56.786 C25.245,55.038 20.442,53.292 15.641,51.543 C13.782,50.866 12.573,49.293 12.391,48.903 C12.261,48.369 10.182,43.402 10,43.012 L10.508,42.062 z" fill="#929292"/><path d="M10.588,35.757 C10.598,36.098 11.122,37.853 11.343,38.46 C11.564,39.067 12.208,40.207 13.725,40.914 C19.166,43.451 24.606,45.989 30.047,48.525 L30.047,52.724 C24.99,50.365 19.933,48.007 14.876,45.649 C13.083,44.813 12.016,43.14 11.869,42.736 C11.786,42.193 10.148,37.063 10,36.659 L10.588,35.757 z" fill="#686868"/><path d="M11.308,29.343 C11.288,29.683 11.657,31.478 11.824,32.101 C11.992,32.725 12.534,33.917 13.983,34.754 C19.338,37.845 24.692,40.936 30.047,44.028 L30.047,48.421 C24.937,45.471 19.827,42.521 14.717,39.571 C13.004,38.581 12.087,36.822 11.975,36.406 C11.94,35.858 10.755,30.605 10.643,30.189 L11.308,29.343 z" fill="#929292"/><path d="M12.666,22.988 C12.617,23.325 12.828,25.145 12.94,25.78 C13.052,26.417 13.488,27.651 14.86,28.611 C19.922,32.156 24.985,35.701 30.047,39.245 L30.047,43.891 C25.088,40.419 20.13,36.946 15.171,33.474 C13.55,32.339 12.79,30.506 12.715,30.083 C12.728,29.534 12.005,24.198 11.93,23.773 L12.666,22.988 z" fill="#686868"/><path d="M14.662,16.713 C14.583,17.044 14.635,18.876 14.691,19.519 C14.748,20.162 15.075,21.43 16.357,22.506 C21.309,26.662 26.262,30.817 31.214,34.973 C30.764,34.918 31.16,34.969 30.047,34.708 L30.047,38.96 C25.446,35.099 20.844,31.239 16.243,27.378 C14.727,26.106 14.13,24.214 14.092,23.785 C14.153,23.239 13.898,17.861 13.86,17.431 L14.662,16.713 z" fill="#929292"/><path d="M15.206,69.664 C15.385,69.954 16.717,71.212 17.211,71.627 C17.706,72.042 18.833,72.707 20.501,72.561 C21.107,72.508 31.721,71.58 32.327,71.527 C33.256,71.51 32.841,71.468 33.575,71.6 C33.579,71.606 33.584,71.613 33.589,71.619 C33.941,72.031 34.292,72.442 34.644,72.853 C35.988,74.196 35.245,73.454 36.87,75.079 C36.488,74.979 36.774,75.041 35.994,75.025 C35.54,75.065 24.32,76.047 23.865,76.087 C21.894,76.259 20.134,75.344 19.804,75.067 C19.461,74.638 15.477,71.015 15.147,70.738 L15.206,69.664 z" fill="#686868"/><path d="M37.873,76.081 L38.185,76.393 C39.204,77.267 38.702,76.853 39.688,77.638 C40.198,78.128 39.923,77.909 40.515,78.297 C40.69,78.436 40.598,78.377 40.79,78.477 L41.394,78.904 L41.394,78.959 C40.939,78.612 41.136,78.759 40.803,78.516 C40.274,78.145 38.996,77.908 38.096,78.066 C37.647,78.145 26.556,80.101 26.106,80.18 C24.158,80.524 22.324,79.765 21.971,79.519 C21.592,79.121 17.308,75.859 16.955,75.612 L16.92,74.536 C17.123,74.81 18.56,75.947 19.088,76.317 C19.618,76.688 20.799,77.252 22.448,76.962 C23.047,76.856 33.539,75.006 34.138,74.9 C35.122,74.705 36.019,74.869 36.955,75.164 L37.873,76.081 z" fill="#929292"/><path d="M23.923,17.234 C23.815,17.558 23.708,19.387 23.708,20.032 C23.708,20.678 23.923,21.97 25.107,23.153 L33.501,31.547 C34.479,32.459 34.768,33.624 35.112,34.863 C34.01,35.438 32.735,35.156 31.59,35.018 C29.249,32.677 26.909,30.337 24.568,27.996 C23.169,26.597 22.739,24.66 22.739,24.23 C22.847,23.692 23.062,18.311 23.062,17.88 L23.923,17.234 z" fill="#686868"/><path d="M37.642,37.202 C37.83,37.58 39.909,39.847 40.287,40.225 C40.854,40.792 42.367,41.359 43.5,41.359 L55.743,41.359 C58.2,41.359 60.279,42.682 60.657,43.06 C61.035,43.627 65.57,48.541 65.949,48.919 L65.76,50.242 C65.57,49.864 64.059,48.163 63.492,47.596 C62.925,47.029 61.602,46.084 59.523,46.084 L55.14,46.084 L55.14,60.789 C55.14,67.593 49.367,68.916 47.288,69.105 C46.721,69.105 40.862,69.105 39.917,69.105 C38.595,69.105 36.515,69.861 35.949,70.994 L35.949,69.105 C35.949,68.916 36.515,67.782 41.052,67.782 C41.052,67.782 46.343,67.782 46.721,67.782 C48.989,67.782 50.038,66.081 50.038,63.246 L50.037,46.084 L47.658,46.084 C45.012,46.084 43.311,44.572 42.555,44.005 C41.989,43.627 38.019,39.092 37.642,38.524 L37.642,37.202 z" fill="#000000"/></svg>') no-repeat center center;
    background-size: 45px auto;
    border: 0;
    position: relative;
    top: -75px;
    -moz-animation: spinoffPulse 1s infinite linear;
    -webkit-animation: spinoffPulse 1s infinite linear
}

.preloader-container {
    text-align: center;
}
.preloader-container > img {
    width: 10%;
}